<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
	<h3>Logged in HP</h3>
	
	<h5>Local unlink and connect</h5>
	<a href="/unlink/local" class="btn btn-default">Unlink local</a>
	<a href="/connect/local" class="btn btn-default">Connect local</a>

	<h5>Facebook unlink and connect</h5>
	<a href="/unlink/facebook" class="btn btn-primary">Unlink Facebook</a>
	<a href="/connect/facebook" class="btn btn-primary">Connect Facebook</a>

	<h5>Twitter unlink and connect</h5>
	<a href="/unlink/twitter" class="btn btn-info">Unlink Twitter</a>
	<a href="/connect/twitter" class="btn btn-info">Connect Twitter</a>
</body>
</html>